/*
    **************************
            Score Circle
    **************************
*/

.score-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border-width: 3px;
    border-style: solid;
    width: 3em;
    height: 3em;
    text-align: center;
    box-shadow: 0 19px 38px rgba(0,0,0,0.3), 0 15px 12px rgba(0,0,0,0.1);
}

.score-circle--green {
    border-color: green;
}

.score-circle--orange {
    border-color: orange;
}

.score-circle--yellow {
    border-color: yellow;
}

.score-circle--red {
    border-color: red;
}